.itemDetailContainer {
    padding: 10px;
    background-image: url('/public/img/banner-404.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.itemDetailContainer h2 {
    padding: 15px;
    font-family: 'Bebas Neue', sans-serif;
    color: #FFD43B;
    font-style: italic;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.6);
}

.itemDetailContainer h2 span {
    padding: 15px;
    font-family: 'Bebas Neue', sans-serif;
    color: #050505;
    text-decoration: underline #FFCC18;
    font-style: normal;
    text-shadow: none;
}

.btnAtrasDetail {
    padding: 15px;
}

.buttonAtrasDetail {
    width: 150px;
    min-width: 80px;
    background: #FFCC18;
    background-image: -webkit-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -moz-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -ms-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -o-linear-gradient(top, #FFCC18, #deaf14);
    background-image: linear-gradient(to bottom, #FFCC18, #deaf14);
    color: #232526;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

.buttonAtrasDetail:hover {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    text-decoration: none;
    color: #ffcc18;
}

.contenedorItemDetail {
    margin: auto;
    width: 80%;
    padding: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: row;
    font-family: 'Bebas Neue', sans-serif;
}

@media screen and (max-width:1024px) {
    .contenedorItemDetail {
        margin: auto;
        width: 100%;
        padding: 10px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: row;
        font-family: 'Bebas Neue', sans-serif;
        flex-direction: column;
    }
}

@media screen and (max-width:500px) {
    .contenedorItemDetail {
        margin: auto;
        width: 100%;
        padding: 5px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: row;
        font-family: 'Bebas Neue', sans-serif;
        flex-direction: column;
    }
}