.itemDetailContainer {
    padding: 10px;
}

.itemDetailContainer h2 {
    padding: 15px;
    font-family: 'Bebas Neue', sans-serif;
    color: #FFD43B;
    font-style: italic;
}

.itemDetailContainer h2 span {
    padding: 15px;
    font-family: 'Bebas Neue', sans-serif;
    color: #050505;
    text-decoration: underline #FFCC18;
    font-style: normal
}

.contenedorItemDetail {
    margin: auto;
    width: 80%;
    padding: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: row;
    font-family: 'Bebas Neue', sans-serif;
}

@media screen and (max-width:1024px) {
    .contenedorItemDetail {
        margin: auto;
        width: 80%;
        padding: 5px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: row;
        font-family: 'Bebas Neue', sans-serif;
        flex-direction: column;
    }
}