.itemListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'Bebas Neue', sans-serif !important;
}

.itemListContainer p:nth-child(1) {
    font-family: 'Bebas Neue', sans-serif;
    color: orange;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    width: 100%;
}

.itemListContainer p:nth-child(2) {
    font-family: sans-serif;
    font-style: italic;
    color: orange;
    font-size: 30px;
    letter-spacing: 1px;
    width: 50%;
    text-align: right;
    text-transform: capitalize;
    font-weight: 500;
}

.tituloItemListContainer {
    padding: 15px;
    font-family: 'Bebas Neue', sans-serif;
    color: #050505;
    text-decoration: underline #FFCC18;
    font-style: normal;
    text-align: left;
    width: 100%;
}

@media screen and (max-width:768px) {
    .itemListContainer {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}