.itemContainer {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    max-width: 400px;
}

.card {
    border: hidden;
    margin: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 24px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 24px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 24px -6px rgba(0, 0, 0, 0.75);
}

.imagen-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 15px;
}

.imagen-container img {
    width: 100%;
    height: auto;
    margin: auto;
}

.detalles-container {
    margin-top: 20px;
    padding-left: 15px;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalles-container h3 {
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}

.detalles {
    font-weight: 700;
    font-size: 20px;
    text-align: start;
}

.precio {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

.btnVerMas {
    background: #FFCC18;
    background-image: -webkit-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -moz-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -ms-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -o-linear-gradient(top, #FFCC18, #deaf14);
    background-image: linear-gradient(to bottom, #FFCC18, #deaf14);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: hidden;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif;
}

.btnVerMas:hover {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    text-decoration: none;
    color: #FFCC18;
}

@media screen and (max-width:1024px) {
    .itemContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 50%;
        min-width: 50%;
        margin: auto;
    }
}

@media screen and (max-width:768px) {
    .itemContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 70%;
        min-width: 50%;
    }
}

@media screen and (max-width:576px) {
    .itemContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 80%;
    }
}