.main-cart {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 5px auto;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #fbffff;
}

.tituloChekout {
    width: 100%;
    padding: 15px;
}

.tituloChekout h2 {
    padding: 15px;
    font-family: 'Bebas Neue', sans-serif;
    color: #FFD43B;
    font-style: italic;
    text-decoration: underline #FFCC18;
    display: flex;
}

.btnAtrasCheckout {
    padding: 15px;
}

.buttonAtrasCheckout {
    width: 150px;
    min-width: 80px;
    background: #FFCC18;
    background-image: -webkit-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -moz-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -ms-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -o-linear-gradient(top, #FFCC18, #deaf14);
    background-image: linear-gradient(to bottom, #FFCC18, #deaf14);
    color: #232526;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

.buttonAtrasCheckout:hover {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    text-decoration: none;
    color: #ffcc18;
}

.carrito-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th:first-child,
td:first-child {
    width: 30%;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
    width: 20%;
}

tbody {
    font-weight: 700;
    text-transform: uppercase;
}

.imagenPC {
    width: 100px;
    height: 100px;
    margin: 10px;
}

tfoot {
    font-weight: 700;
    text-transform: uppercase;
}

.restar-btn,
.sumar-btn {
    border: hidden;
    font-weight: 700;
    font-size: 18px;
    width: 15%;
    min-width: 25px;
    height: 30px;
    padding: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    text-decoration: none;
    color: #FFCC18;
    text-align: center;
    margin: 10px;

}

.cantidad {
    width: 33.3%;
    font-size: 18px;
    margin: 10px;
    font-weight: 700;
}

.contenedorButtonCompra {
    width: 100%;
}

.finalizar-btn {
    border: hidden;
    font-weight: 700;
    font-size: 18px;
    width: 20%;
    min-width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    text-decoration: none;
    color: #FFCC18;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.finalizar-btn:hover {
    background: #FFCC18;
    background-image: -webkit-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -moz-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -ms-linear-gradient(top, #FFCC18, #deaf14);
    background-image: -o-linear-gradient(top, #FFCC18, #deaf14);
    background-image: linear-gradient(to bottom, #FFCC18, #deaf14);
    color: #232526;
    box-shadow: 0px 10px 24px -6px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {

    th,
    td {
        font-size: 14px;
    }
}